.carta{
    width: 25px;
    height: 25px;
}

.portada{
    width: 25px;
    height: 25px;
    background-color: orange;
    border-left: 2px solid rgb(248, 204, 122);
    border-top: 2px solid rgb(248, 204, 122);
    border-right: 2px solid rgb(168, 111, 4);
    border-bottom: 2px solid rgb(168, 111, 4);
    text-align: center;
    line-height: 32px;
}

.contenido{
    width: 25px;
    height: 25px;
    background-color: blue;
    border-left: 2px solid rgb(0, 110, 255);
    border-top: 2px solid rgb(0, 110, 255);
    border-right: 2px solid rgb(16, 0, 163);
    border-bottom: 2px solid rgb(16, 0, 163);
    text-align: center;
    line-height: 32px;
}

.minas{
    color: white;
    font-size: 25px;
}

